body{
	height: 100vh;
}

.dash-navbar{
	height: 50px;
	background-color: #E8E8E8;
}

.dash-navbar-button{
	display: block;
	font-size: 20px;
	padding: 12px 12px;	
}

.dashboard-wrapper{
	width: 100%;
	order: 2;
	flex-grow: 2;
	flex-shrink: 2;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	overflow-y: scroll;

}

.board-selector{
	padding-top: 10px;
	width: 200px;
	background-color: #333333;
	float: left;
	order: 1;
	flex-grow: 0;
	flex-shrink: 1;
	position: sticky;
}

.dash-selector-button{
	width: 100%;
	margin-bottom: 5px;
	color: #c7c7c7;
	height: auto;
}

.dash-selector-button:hover{
	color: #B90504;
	background-color: #272727;
}

.dash-selector-button-selected{
	color: #B90504;
	background-color: #272727;
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.dash-selector-wrapper > i{
	font-size: 24px;
	margin-right: 10px;
}

.dash-selector-wrapper{
	padding-left: 15px;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 10px;
	cursor: pointer;
}

.app-wrapper{
	display: flex;
	background-color: #E8E8E8;
	height: 100%;
}

.dash-content-title{
	color: #B90504;
}

.dash-content{
	width: 100%;
	height: 100%;
	/*padding-bottom: 5px;*/
}

.dash-content-title{
	width: 85%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(185, 5, 4);
	font-size: 64px;
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}