.splash-container{
	width: 100%;
	text-align: center;
	height: calc(100vh - 70px);
	margin-top: 20px;
	margin-bottom: 50px;
	color: #2E1919;
	display: flex;
	flex-direction: row;
}

.splash-image{
	background-image: url('../resources/maincasco.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*position: absolute;*/
    width: 100%;
    height: calc(100vh - 65px);
    z-index: -1;
    opacity: .85;
    filter: blur(8px);
    max-width: 66%;
}

.splash-heading > .title{
	font-size: 156;
	position: relative;
	top: 0px;
}

.splash-subtitle > .subtitle{
	font-size: 86;
}

.splash-text{
	margin-bottom: 7em;
	padding-top: 10em;
	max-width: 33%;
}