.normal-text{
	font-family: 'Lato', sans-serif;
}

.heading-text{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	/*font-size: 64px;*/
}

.bold-text{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.black-text{
	color: #333333;
}